# Convert mbox to separate maildirs per feed and filter duplicate messages.
# Usage:
# 	$ sfeed_mbox ~/.sfeed/feeds/* > ~/.sfeed/mbox
# 	$ fdm -f thisconfig fetch

set unmatched-mail keep

account "sfeed" mbox "%[home]/.sfeed/mbox"
	$cachepath = "%[home]/.sfeed/mbox.cache"
	cache "${cachepath}"
	$feedsdir = "%[home]/feeds/"

	# check if in cache by message-id.
	match case "^Message-ID: (.*)" in headers
		action {
			tag "msgid" value "%1"
		}
		continue
		# if in cache, stop.
		match matched and in-cache "${cachepath}" key "%[msgid]"
		action {
			keep
		}

	# not in cache, process it and add to cache.
	match case "^X-Feedname: (.*)" in headers
	action {
		maildir "${feedsdir}%1"
		add-to-cache "${cachepath}" key "%[msgid]"
		keep
	}
