# Example for use with sfeed_maildir.
# The header X-Feedname is used to split into separate maildirs. It is assumes
# this name is sane.

MAILDIR="$HOME/feeds/"

:0
* ^X-Feedname: \/.*
{
	FEED="$MATCH"

	:0 Wh: "msgid_$FEED.lock"
	| formail -D 1024000 ".cache/msgid_$FEED.cache"

	:0
	"$FEED"/
}
